.heading{
    height: 60px;
    background-color: rgb(116, 116, 252);
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 14px;
}
.tableHeader{
    background-color: rgb(116, 116, 252);
    color: #fff;
}